@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*? ALL */
#index {
    background: #1c56dee7; /* fallback for old browsers */
    background: rgba(30, 81, 209, 0.911);
    background: linear-gradient(90deg, rgb(85, 100, 177) 0%, rgb(58, 84, 187) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*? INDEX PAGE */
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    border-radius: 8px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    margin-top: 10%;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#reset {
    background: #cd0303;
}

#reset:hover {
    background: #9f0505;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.welcome {
    color: #FFFFFF;
    text-align: center;
}

.incorrectIDs {
    text-align: center;
    color: red;
    font-weight: bold;
}


.list table {
    border-collapse: collapse;
    width: 100%;
}

.list th,
.list td {
    padding: 1rem 2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.list th {
    font-weight: normal;
    font-size: .875rem;
    color: #666;
    background: #eee;
    /*  以下２行で見出しを固定  */
    position: sticky;
    top: 0;
}

.list img {
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: .5rem;
}

/* レスポンシブ対応 */
@media (max-width: 500px) {
    .heading {
        display: none;
    }

    .list td {
        display: block;
    }

    .player-name {
        background: #eee;
    }
}

.list h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'El Messiri', sans-serif;
}

/*? Menu Page*/
#home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
}

.menu ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: .5em 0;
    list-style: none;
}

.menu-item {
    background: #444;
    padding: 1em .5em;
    position: relative;
    border-bottom: 5px solid #999;
    margin: 0 .1em;
    transition: border-bottom .23s ease-in-out, background .23s linear;
    cursor: pointer;
    min-width: 8em;
    text-align: center;
}

.menu-item:hover, .menu-item:focus-within {
    border-bottom-color: #cd0303;
    background: #333;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:focus {
    outline: none;
}

@media (max-width: 690px) {
    .menu {
        width: 95%;
        font-size: 16px;
    }

    .menu-item {
        margin: .1em;
    }

    .menu-item:nth-child(1) {
        order: 0;
    }

    .menu-item:nth-child(2) {
        order: 1;
    }

    .menu-item:nth-child(3) {
        order: 3;
    }

    .menu-item:nth-child(4) {
        order: 4;
    }

    .menu-item:nth-child(5) {
        order: 2;
    }
}

@media (max-width: 480px) {
    .menu {
        font-size: 12px;
    }
}

.container h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'El Messiri', sans-serif;
    color: darkcyan;
}